@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Quicksand:wght@300&family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Quicksand:wght@300&family=Roboto:wght@100;400&family=Staatliches&display=swap');


h1,h2,h3,h4{
    font-family: 'Staatliches', cursive;
}
hr{
    color: white;
}
body{
    background-color: #212529;
}
section{
    margin-bottom: 70px;
}
.navbar{
    padding: 10px 30px;
}
.titulo{
    color: rgb(201, 199, 199);
    margin: 20px 0px;
}
#menu{
    transition: 1.5s;
}
.nav-anima{
    transform: translate3d(0px,-20px,0px);
    opacity: 0;
}
[data-menu]{
    position: relative;
    text-decoration: none;
    color: rgb(186, 185, 185);
    font-size: 18px;
    letter-spacing: .5px;
    font-size: 18px;
}
[data-menu]:after{
    content: "";
    position: absolute;
    background-color: rgb(186, 185, 185);
    height: 1px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
[data-menu]:hover::after{
    width: 100%;
}
[data-menu].ativo::after{
    width: 100%;
}
.intro{
    height: 90vh;
    width: 100%;
    background-image: url("../Images/background4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
}
.intro-text{
    text-align: center;
    transition: 1s;
}
.up{
    transform: translate3d(0, -50px, 0);
    opacity: 0;
}
.intro-anima{
    transform: translate3d(0, 50px, 0);
    opacity: 0;
}
#btn-intro{
    border-radius: 25px;
    width: 45%;
    font-size: bold;
}
.container-content{
    padding: 0px 20px;
}
[data-porcentagem]{
    height: 5px;
    width: 0%;
    background-color: #0d6efd;
    border-radius: 25px;
    box-shadow: 1px 1px 5px #0d6efd;
    transition: 1.5s;
}
.habilits{
    width: 70%;
    margin: 20px auto;
}
.habilits-name{
    display: flex;
    justify-content: space-between;
}
.card{
    margin: 30px auto;
    background: none;
    padding: 10px;
    border-color: #0d6efd;
    border-radius: 25px;
    box-shadow: 1px 1px 10px #0d6efd;
}
.main{
    display: none;
    transition: 2s;
}
.main_null{
    opacity: 0;
    transform: translate3d(0px, 300px , 0px);
}
#start{
    background: url("../Images/ia3.jpg");
    transition: 1.5s;
    height: 400px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -10px;
    padding: 0 20px;
}
.start-caption{
    padding: 20;
}
#Ft_perfil{
    width: 250px
}